
<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="principale.html">Deploy.Dev</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Smith <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profil</a>
                        </li>
                        <li>
                            <a href="http://messagerie.deploy.itinet.fr/"><i class="fa fa-fw fa-envelope"></i> Boîte mail</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Déconnexion</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="index.html">Tableau de bord</a>
                    </li>
                    <li>
                        <a href="http://owncloud.deploy.itinet.fr" onclick="window.open(this.href); return false;">Partage de fichiers</a>
                    </li>
                    <li>
                        <a href="http://messagerie.deploy.itinet.fr" onclick="window.open(this.href); return false;">Consultation mail</a>
                    </li>
                    <li>
                        <a href="index.php?page=projet">Visualisation de mes projets</a>
                    </li>
                    </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>


   