
<body>

            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="index.html">Tableau de bord</a>
                    </li>
                    <li>
                        <a href="http://owncloud.deploy.itinet.fr" onclick="window.open(this.href); return false;">Partage de fichiers</a>
                    </li>
                    <li>
                        <a href="http://messagerie.deploy.itinet.fr" onclick="window.open(this.href); return false;">Consultation mail</a>
                    </li>
					<li>
                        <a href="http://deploy.itinet.fr/phpmyadmin" onclick="window.open(this.href); return false;">Accès à la base de données</a>
                    </li>
                    <li>
                        <a href="index.php?page=projet">Deploiement du projet</a>
                    </li> 
					<li>
                        <a href="index.php?page=projet">Cloner mon Git</a>
                    </li> 
				    </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
