        <div id="page-wrapper">

            <div class="container-fluid" style="margin-top:-20px">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Profil
                        </h1>
<form action="index.php?page=supp_all" method="POST">
      <button type="submit" class="btn btn-primary btn-lg btn-block" >Se désinscrire</button>
</form>
<p>
                    </div>
                </div>
